<div id="main_content">

    <div class="jumbotron" style="background-color: black;">
      <h1 class="display-4">Glassman Theaters</h1>
      <p class="lead">Buy your tickets here</p>
      <hr class="my-4">
      <p>Showtimes are posted daily. Please click the show time to purchase your ticket.</p>
    </div>

    <div class="container">

     <h1><b>Now Playing</b></h1>

     <h2><%= Date.today.strftime("%A")%> <%= Date.today.strftime("%B") %> <%= Date.today.day %>, <%= Date.today.year %></h2>
    </div>

</div>

