<div class="container">


  <h1>Create a new movie:</h1>

    <form action="/movie/search" method="get">

      <label for="search_title">Search for a movie:</label><input name="search_title" value="" type="text">

      <button type="submit" class="btn btn-primary">Search</button>

    </form>

    <%= @movies %>

</div>