<div class="container">

<h1>Update your auditorium here</h1>

   <form action="/auditorium/update/<%= @auditorium.id %>" method="patch">

        <div class="form-group">
          <label for="space_name">Space Name:</label>
          <input name="space_name" class="form-control" id="space_name" aria-describedby="space_name" value="<%= @auditorium.space_name %>">
        </div>

         <div class="form-group">
          <label for="capacity">Capacity:</label>
          <input name="capacity" class="form-control" id="capacity" aria-describedby="capacity" value="<%= @auditorium.capacity %>">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

    </form>

</div>