<h1>Thank you for your purchase <%= @user.customer_name %>!</h1>
  <p>
    You can present this email at the window for admission.<br>
  </p>

  <h2>Your ticket has been purchased for:</h2>

<h3><%= @movie_title %></h3>

<h3>Showtime: <%= @movie_time %></h3>

<h3>Auditorium: <%= @movie_location %></h3>

<p>Thanks again for your purchase and enjoy the show!</p>