<h1>Thank you for your purchase!</h1>

<h2>You will receive an email at <%= @purchase.customer_email %> with your ticket confirmation</h2>

<h2>Your ticket has been purchased for:</h2>

<h3><%= @movie_title %></h3>

<h3>Showtime: <%= @movie_time %></h3>

<h3>Auditorium: <%= @movie_location %></h3>

<h1>Enjoy the show!</h1>

