<div class="container" id="dashboard">

<h1>Admin Dashboard</h1>

<br>

  <div class="row">

    <div class="col-sm-6"><button class="dashboard_buttons"><a href="/auditorium/new">Create a new auditorium</a></button><br></div>

    <div class="col-sm-6"><button class="dashboard_buttons"><a href="/movie/new">Create a new movie</a></button></div>

  </div>

  <br>

  <div class="container">
    
  </div>
  <br>
  <br>

<div class="container">
    <h2>View all ticket sales:</h2>

    Search: <input id="search_bar" type="text">  

</div>

</div>