/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  font-family: 'ABeeZee', sans-serif;
 }

 #main_content{
  padding: 5px;
  font-size: 16pt;
  background-color: #d9d9d9;
 }

 #main_content ul{
  list-style-type: none;
 }

 .section_header{
  background-color: darkgrey;
  color: white;
  padding: 7px;
  border-radius: 7px;
 }

 nav a{
  color: white;
 }

 .nav-link{
  color: white;
 }

 nav a:hover{
  color: #d9d9d9;
 }

 .jumbotron{
  background-color: red;
  color: white;
  text-align: center;
  align-content: center;
 }

 #dashboard{
  padding: 20px;
 }

.dashboard_buttons{
  background-color: #4287f5;
  color: white;
  height: 50px;
  font-size: 14pt;
  border-radius: 10px;
 }

.dashboard_buttons a{
  color: white;
 }

 .navbar-toggler{
  color: red;
  background-color: white;
 }

